#navbar {
    -fx-background-color: -tab-bar-bg;
    -fx-font-family: "Helvetica Neue";
    -fx-font-weight: 400;
}

.tab {
    -fx-background-color: -tab-bg;
    -fx-text-fill: -txt-color;
    -fx-background-radius: 0 0 .5em .5em;
}

.tab:hover, .tab.active {
    -fx-background-color: -tab-active-bg;
}

.tab.active {
    -fx-text-fill: -txt-color-active;
}
