@import "variables.css";
@import "navbar.css";
@import "buttons_style.css";

#main-vbox {
    -fx-background-color: -main-bg;
    -fx-text-alignment: left;
}

Pane * {
    -fx-font-family: 'Bitter';
    -fx-font-weight: 800;
}

.container {
    -fx-background-radius: .5em;
}

.container.secondary {
}

ListView {
    -fx-background-radius: .5em;
    -fx-background-color: -secondary-bg;
}


