@import "variables.css";
@import "navbar-style.css";
@import "buttons_style.css";
@import "table-views-style.css";

#main-vbox {
    -fx-background-color: -main-bg;
    -fx-text-alignment: left;
}

.container {
    -fx-background-radius: .5em;
}

.container.secondary {
    -fx-background-color: -secondary-bg;
}

.container.tertiary {
    -fx-background-color: -main-bg;
}

