* {
    -main-bg: #4A4D51;
    -secondary-bg: #757D8A;
    -tab-bar-bg: #272727;
    -tab-bg: #646464;
    -tab-active-bg: #3C3C3C;
    -txt-color: #FFFFFF;
    -txt-color-active: #D8FFF8;
    -btn-accept: #74A568;
    -btn-accept-hover: #588a4b;
    -btn-accept-disabled: #747C71;
    -btn-danger: #A46060;
    -btn-danger-hover: #8f4747;
    -btn-danger-disabled: #7C7171;
    -even-row: #E1E1E1;
    -selected-row: #6F9EF8;

    -fx-text-fill: -txt-color;
}
